
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div>
        <h1>About</h1>
        <ul>
            <li><a href="Home/Index">Home</a></li>
            <li><a href="/Home/ContactUs">Contact Us</a></li>
        </ul>
    </div>
</body>
</html>
