

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactUs</title>
</head>
<body>
    <div>
        <h1>Contact Us</h1>
        <ul>
            <li><a href="/Home">Home</a></li>
            <li><a href="/Home/About">About</a></li>
        </ul>
    </div>
</body>
</html>
